<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoinHive Browser Mining Dashboared Powered by VueJs, Demo.">
    <meta name="author" content="Lium kattan <fuzykattan@gmail.com>">
    <meta name="theme-color" content="#343A40" />

    <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="css/custom.css" rel="stylesheet">
    <link type="text/css" href="css/vue2animate.min.css" rel="stylesheet">
    <link type="text/css" href="css/spinner.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|M+PLUS+Rounded+1c:700|Ubuntu:700" rel="stylesheet">


    <script type="text/javascript" src="js/jquary.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/chart.min.js"></script>
    <script type="text/javascript" src="js/vue-chartjs.min.js"></script>
    <script type="text/javascript" src="js/mainminer.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/lightminer.js"></script>

    <title>LightMiner</title>
  </head>
  <body>
    <div id="dash">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">FuZzYx</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <span class="nav-blc">Hashes: {{ (miner.getTotalHashes()) ? Math.round(miner.getTotalHashes()) : 0 }} H</span>
                  </li>
                  <li class="nav-item setting">
                    <span data-target="#myModal" data-toggle="modal">
                      <a href="#" class="nav-blc d-none d-sm-none d-md-none d-lg-block d-xl-block">
                        <img id="setting-icon" @click="$('#myModal').modal('toggle')" class="rounded-circle" src="img/settings.svg">
                      </a>
                    </span>
                  </li>
                  <li class="nav-item">
                    <a href="#" @click="$('#myModal').modal('toggle')" class=" nav-link nav-blc d-xl-none d-lg-none">Settings</a>
                  </li>
                </ul>
              </div>
            </div>
      </nav>
      <!-- Modal -->
      <div v-if="!started" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="background-color:#00000000;">
            <div class="modal-body">
             <h2>Settings</h2>
             <div class="row">
                 <label for="siteKey">Site Key</label>
                 <input id="siteKey" type="text" v-model="siteKey"></input>
              </div>
              <div class="row">
                 <span class="span-lab">Threads</span>
                 <input id="slider" type="range" min="1" v-bind:max="cors" v-model:value="threads" @change="adjustThreads"></input>
                 <label class="mob-offset"> {{ threads }}</label>
               </div>
               <div class="row">
                 <span class="span-lab">Throttle</span>
                 <input id="slider" type="range" min="10" max="90" v-model:value="throttle" @change="adjustThrottle"></input>
                 <label class="mob-offset"> {{ throttle }}%</label>
               </div>
             </div>
            </div>
          </div>
        </div>

      <!-- Start Button -->
      <div class="container beg1">
        <transition name="zoom" @after-leave="started = !started" :duration="500">
          <div class="play" v-show="show">
            <a href="#" @click="toggleMiner()"><img id="start" class="rounded-circle" src="img/play.svg" alt="Start Mining"></a>
          </div>
        </transition>

        <!-- Miner Body -->
        <transition name="zoom" @after-leave="show = !show" :duration="800">
          <div class="process" v-show="started">
            <div class="row">
              <div class="col-sm4 mob-offset">
                <label for="hashrate">Hash Rate</label>
                <h2 id="hashrate"> {{ Math.round(miner.getHashesPerSecond()) }} H/s</h2>
              </div>
              <div class="col-sm-3 offset-sm-2 mob-offset">
                <label for="totalhash">Total</label>
                <h2 id="totalhash" class="mini pull-down"> {{ Math.round(miner.getTotalHashes()) }} H</h2>
              </div>
              <div class="col-sm-3 mob-offset">
                <label for="accept">Accepted</label>
                <h2 id="accept" class="mini pull-down"> {{ Math.round(miner.getAcceptedHashes()) }} H</h2>
              </div>
            </div>



            <!-- Fotter -->
            <div class="row">
              <div class="col-sm-6">
                <label for="siteKey">Site Key</label>
                <input id="siteKey" type="text" v-model="siteKey"></input>
              </div>
              <div class="col-sm-6">
                <span class="span-lab">Threads</span>
                <input id="slider" type="range" min="1" v-bind:max="cors" v-model:value="threads" @change="adjustThreads"></input>
                <label class="mob-offset"> {{ threads }}</label>

                <span class="span-lab">Throttle</span>
                <input id="slider" type="range" min="10" max="90" v-model:value="throttle" @change="adjustThrottle"></input>
                <label class="mob-offset"> {{ throttle }}%</label>
              </div>
            </div>

            <!-- Floating Button -->
            <a href="#" class="float pause-float" @click="toggleMiner()">
              <i class="my-float"><img id="end" src="img/pause.svg" alt="Pause Mining"></i>
            </a>

            <!-- Loading Floating Button -->
            <span v-show="started && !miner.isRunning()" class="float loading-float">
              <i class="my-float">
                <div class="span">
                    <div class="help"></div>
                </div>
              </i>
            </span>

          </div>
        </transition>
      </div>
    </div>

    <script type="text/javascript">
    var app = new Vue({
            el: '#dash',
            data: {
              cors: navigator.hardwareConcurrency,
              threads: Math.round(navigator.hardwareConcurrency / 2),
              throttle: 50,
              show: true,
              started: false,
              siteKey: siteKey,
              miner:miner,
            },
            methods: {
              toggleMiner: function(){
                if (this.show) {
                  this.miner.start();
                  this.show = false;
                } else {
                  this.miner.stop();
                  this.started = false;
                }
              },
              adjustThreads: function() {
                this.miner.setNumThreads(this.threads)
                console.log("Used Cores Changed: " + this.miner.getNumThreads())
              },
              adjustThrottle: function() {
                this.miner.setThrottle((100 - this.throttle) / 100)
                console.log("Throttle adjusted: " + this.miner.getThrottle())
              }
            }
      })
    </script>
  </body>
</html>
